<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.geekbrains.weatherapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_weather_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_weather_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppCustomLightTheme">

        <service
            android:name=".service.WebApiService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <activity android:name=".SettingsActivity" />
        <activity android:name=".BaseAppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>